<div class="menu">
  <div class="logo-area">
    <img src="icon-social-network.svg" alt="" />
    <div class="logo-area-text">
      <p>Integra</p>
      <p>Acadêmica</p>
    </div>
  </div>

  @if (!isHome()) {
  <nav class="nav-menu">
    @if (sigla(); as s) {
    <a [routerLink]="['/dashboard', s]">Início</a>
    } @if (sigla(); as s) {
    <a [routerLink]="['/dashboard', s, 'busca-docentes']">Buscar Docentes</a>
    } @if (sigla(); as s) {
    <a [routerLink]="['/dashboard', s, 'producao-cientifica']"
      >Painel Científica</a
    >
    } @if (sigla(); as s) {
    <a [routerLink]="['/dashboard', s, 'temas-tendencias']"
      >Temas e Tendências</a
    >
    }
  </nav>
  }
</div>
