

:host {
  width: 100%;
  padding: 8px 16px;

  
  color: #fff;
  // box-shadow: 0 1px 4px #8bdff0;
  background-color: #266AA6;
  // background-color: #255ddb;
}
.logo {
  height: 30px;       /* tamanho ideal para header */
  width: auto;
  display: block;
}



.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.logo-area {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 0;
  line-height: 1.1;
}


// .logo-area-text {
//   font-size: 40px; /* só o texto fica grande */
// }

.nav-menu {
  margin-left: auto;
  margin-right: 4rem;
  display: flex;
  align-items: center;
  gap: 32px;
  font-size: 1em;
  padding: auto;
}
