<div class="menu">
  <a [routerLink]="['/']">
    <div class="logo-area">
      <img src="/assets/logo.png" alt="" class="logo" />

      <div class="logo-area-text">
        <!-- se tiver texto -->
      </div>
    </div>
  </a>

  <nav class="nav-menu">
    <a
      [routerLink]="['/']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Início</a
    >
    <a [routerLink]="['/busca-docentes']" routerLinkActive="active"
      >Buscar Docentes</a
    >
    <a [routerLink]="['/producao-cientifica']" routerLinkActive="active"
      >Produção Científica</a
    >
    <a [routerLink]="['/comparacao']" routerLinkActive="active"
      >Panorama dos IF's</a
    >

    <a routerLink="/comparacao-docentes" routerLinkActive="active"
      >Comparar Docentes</a
    >

    <a [routerLink]="['/ranking-academico']" routerLinkActive="active"
      >Ranking Acadêmico</a
    >
  </nav>
</div>
