<app-informacao-integra></app-informacao-integra>

<div class="card-opcao-instituicao">
  <h3>Escolha a instituição que deseja abaixo:</h3>
  <z-select
    (zSelectionChange)="handleSelect($event)"
    zPlaceholder="Selecione uma instituição"
    id="instituicao-select"
  >
    @for (inst of instituicoes; track inst.sigla) {
    <z-select-item [zValue]="inst.sigla">
      {{ inst.sigla }} - {{ inst.nome }} ({{ inst.estado }})
    </z-select-item>
    }
  </z-select>
  <button
    z-button
    class="enviar-instituicao"
    (click)="redirecionarInstituicao()"
    [disabled]="!sigla()"
  >
    Ver Dashboard
  </button>
</div>

<!-- NOVA SEÇÃO -->
<div class="card-opcoes-extras">
  <h3>Ou explore outras funcionalidades:</h3>
  <div class="botoes-extras">
    <button z-button class="btn-comparacao" (click)="irParaComparacao()">
      Comparar Instituições
    </button>
    <button z-button class="btn-ranking" (click)="irParaRanking()">
      Ver Ranking de Produção
    </button>
  </div>
</div>
