<!-- dashboard.component.html -->
<app-informacao-integra></app-informacao-integra>

<section class="section-home">
  <div class="cards-list">
    <a routerLink="/busca-docentes" class="cards">
      <div class="cards-items">
        <img src="/assets/lupa.png" alt="Buscar Docentes" />
        <h3>Buscar Docentes</h3>
      </div>
    </a>

    <a routerLink="/producao-cientifica" class="cards">
      <div class="cards-items">
        <img src="/assets/grafico.png" alt="Produção Científica" />
        <h3>Produção Científica</h3>
      </div>
    </a>

    <a routerLink="/comparacao" class="cards">
      <div class="cards-items">
        <img src="/assets/comparar.png" alt="Panorama da Rede Federal" />
        <h3>Panorama da Rede Federal</h3>
      </div>
    </a>

    <a routerLink="/ranking-academico" class="cards">
      <div class="cards-items">
        <img src="/assets/ranking.png" alt="Comparar Docentes" />
        <h3>Comparar Docentes</h3>
      </div>
    </a>

    <a routerLink="/comparacao-docentes" class="cards">
      <div class="cards-items">
        <img src="/assets/comparacao.png" alt="Comparar Docentes" />
        <h3>Ranking Acadêmico</h3>
      </div>
    </a>
  </div>

  <app-producao-linha></app-producao-linha>
  <app-producao-pesquisas></app-producao-pesquisas>
</section>
