<!-- dashboard.component.html -->
<app-informacao-integra></app-informacao-integra>

<section class="section-home">
  <div class="cards-list">
    <a routerLink="/busca-docentes" class="cards">
      <div class="cards-items">
        <img src="zoom-icon.svg" alt="Buscar Docentes" />
        <h3>Buscar Docentes</h3>
      </div>
    </a>

    <a routerLink="/producao-cientifica" class="cards">
      <div class="cards-items">
        <img src="bar-chart-icon.svg" alt="Produção Científica" />
        <h3>Produção Científica</h3>
      </div>
    </a>

    <a routerLink="/comparacao" class="cards">
      <div class="cards-items">
        <img src="communication-icon.svg" alt="Comparar Instituições" />
        <h3>Comparar Instituições</h3>
      </div>
    </a>
  </div>

  <app-producao-linha></app-producao-linha>
</section>
